<!DOCTYPE>
<html>
<body>
<div class = "topnav">
  <div class="top">
    <div class = "logo"> <i class='fa fa-address-book'></i>
    </div>
  </div>
        <a routerLink="/">Home</a>
        <a href="#" target="_blank">About</a>
<!--        <a routerLink="/forms">Signup</a>-->
        <a routerLink="/users">Skills</a>
        <a href="#" target="_blank">Project</a>
        <a href="#" target="_blank">Contact</a>
        <a href="#" target="_blank"><i class='fab fa-pushed'></i></a>

</div>
</body>

</html>
