<!DOCTYPE>
<html>
<body>
<div class = "topnav">
  <div class="top">
    <div class = "logo"> <i class='fa fa-address-book'></i>
    </div>
  </div>
        <a href="#contactsection" target="_parent">Contact</a>
        <a href="#projectsection" target="_parent">Project</a>
<!--        <a routerLink="/forms">Signup</a>-->
        <a href="#skillsection" target="_parent">Skills</a>
        <a href="#aboutsection" target="_parent">About</a>
        <a href="#" target="_blank">Home</a>
        <a href="#" target="_blank"><i class='fab fa-pushed'></i></a>
</div>

</body>

</html>
