<!--<div class="diconss"><i class='fa fa-address-book'></i></div>-->

<div class = "panelbox1">
  <ul class = "mylist">
    <li class="grey">hi I'm Monday Stephen ..</li>
    <li class = dcol><b>ABOUT ME</b> <br><br>
      <div class="container">
        <div class="row">
          <div class="col"> <br><br>
            <p> Proven diagnostic abilities with attention to detail and ability to work effectively in a fast-paced environment. My team-spirited character has classified me as a resourceful individual with an excellence driven mindset.</p>
            <p>I am committed to finding innovative solutions to a variety of IT problems, such as security, database management and technical troubleshooting. Demonstrated abilities to set strategic direction while obtaining superior results.</p>

          </div>
          <div class="col"><img src = "../../assets/myimage.jpg" alt="Trulli" width="420" height="500"></div>
        </div>
      </div>

    </li>
    <li class="dcol2"><b>SKILLS | ACTIVITIES | INTERESTS</b> <br><br>

      <div class="container">
        <div class="row">
          <div class="col" id="dalign"><br><br><img src = "../../assets/skills.png" alt="Trulli" width="450" height="350"></div>
          <div class="col" id="dalign2"><br>
            <b>Professional Skills</b><br>
            	Database Management (Oracle, MSSql Server, Mysql, hsqldb and Postgresql).<br>
            	Linux Administration (Redhat, CentOS and Ubuntu).<br>
            	Deployment of Enterprise Application on JBoss Application Server, Nginx and running containerize application using Docker and Kubernetes.<br>
            	Application Development<br>
            	Ability to use Spring Boot framework to build enterprise applications<br>
            	Use of Angular to build front-end<br>
            	Excellent use of tools like Pentaho (ETL), Jasper studio/Jasper server to query database and build standard reports.
            	Good knowledge of Java programing language<br>
            	Excellent use of application package such as Microsoft word, Microsoft Excel, Microsoft Access, Microsoft Powerpoint, CorelDraw and Windows and Linux OS.<br>
            	Ability to work with little or no supervision<br>
            	Good inter-personal relationship.<br>
            	Ability to work as part of a team<br>
            	Result and goal oriented individual<br><br>
            <b>Interests</b><br>
            	Data Science and Analytics<br>
            	DevOPs Engineer<br>
            	Data Extraction, Loading and Extraction<br>
            	Software Design and Implementation<br>
            	Real Time Programming<br>
            	Report Design and Deployment<br><br>
            <b>Hobby</b><br>
            	Coding<br>
            	Surfing the Internet<br>
            	Listening to Music<br>
            	Traveling
          </div>
        </div>
      </div>
    </li>
    <li class="dcol"><b>-- PROJECTS --</b> <br><br><div class="titlesize">Below are summaries on some projects I completed in the past.<br>
      My experience is not limited to the underlisted.<br>
      You can contact me for detail</div><br><br><br>
      <div class="container">
          <div class="row">
            <div class="col"><div class="diconss"><i class='fa fa-laptop'></i></div>  Deployment of Enterprise Applications on JBoss Enterprise Application Platform. </div>
            <div class="col"><div class="diconss"><i class='fa fa-address-book'></i></div> Using Nginx to deploy enterprise applications</div>
            <div class="col"><div class="diconss"><i class='fa fa-globe'></i></div> Runing containerized applications using Docker and Docker-compose</div>
            <div class="col"><div class="diconss"><i class='fa fa-star'></i></div> Using Kubernetes cluster to deploy enterprise applications</div>
            <div class="col"><div class="diconss"><i class='fa fa-industry'></i></div> Mining, Designing and Deploying of reports using Pentaho ETL and Jasper Server</div>
          </div>
      </div>
    </li>
    <li class="dcol2"><b>CONTACT</b> <br><br>
      <div class="diconss1"><i class='fa fa-volume-control-phone'></i>+234 7082648950</div>
    </li>
  </ul>
</div>
