.panelbox1{
  position: fixed;
  top: 40px;
  /*margin-left: 260px;*/
  height: 400px;
  width: 100%;
  background-color: #FFFFFF;
  /*border-radius: 10px;*/
}
.mylist{
  list-style-type: none;
  /*background-color: #ADD8E6;*/
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mylist li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  /*text-align: center;*/
  /*background-color: #0078D4;*/
}

.mylist .grey {
  background-color: #eee;
  font-size: 20px;
  font-weight: bold;
  height: 200px;
}

.mylist1 {
  background-color: #FFFFFF;
}


