.panelbox1{
  position: absolute;
  /*margin-top: 100px;*/
  /*margin-left: 260px;*/
  /*height: 400px;*/
  width: 100%;
  background-color: #FFFFFF;
  /*border-radius: 10px;*/
}
.mylist{
  list-style-type: none;
  /*background-color: #ADD8E6;*/
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mylist li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  /*text-align: center;*/
  /*background-color: #0078D4;*/
}

.mylist .grey {
  background-color: #eee;
  font-size: 20px;
  font-weight: bold;
  height: 200px;
  text-align: center;
}

.mylist .dcol{
  text-align: center;
  /*font-weight: bold;*/
  font-size: 20px;
}

.mylist .dcol2{
  text-align: center;
  /*font-weight: bold;*/
  font-size: 20px;
  background-color:  #eee;
}

.mylist1 {
  background-color: #FFFFFF;
}

#dalign{
  text-align: left;
  font-size: 15px;
}
#dalign2{
  text-align: left;
  font-size: 15px;
}

.diconss{
  font-size: 40px !important;
  color: #0078D4;
}

.diconss1{
  color: #0078D4;
}

.titlesize{
  font-size: 18px;
}

.corusal{
  position: absolute;
  margin-top: 40px;
  height: 400px;
}

.carousel-item{
  min-height: 380px;
  width: 100%;
}


